<div class="card container-plan-nutritionnel">
    <div class="label-plan-nutritionnel"> Plan Nutritionnel
        <form #nutritionForm="ngForm" class="form-container formulaire-plan-nutritionnel">
            <div class="edit-plan-nutritionnel">
                <textarea rows="2" cols="150" pInputTextarea [autoResize]="true" name="instruction" [(ngModel)]="formValue.instruction"
                    placeholder="Entrez votre plan nutritionnel ici..."></textarea>
                <p-button label="Envoyer" class="button" [style]="{'background-color': 'rgb(8, 59, 50)', 'margin-left': '9px'}"
                    (click)="onSubmit()"></p-button>
            </div>
            
        </form>
    </div>
</div>

