.test{
    border: 1px solid red;
    width: 300px;
}

.carte-infos-patient{
    margin: 5vh;
    padding: 5vh;
    background-color: #f3f3f3;
    border-radius: 10px;
    width: fit-content;
    height: 90%;
}