<div class="card">
    <div class="libelle-historique">HISTORIQUE DES PLANS NUTRITIONNELS ENVOYES</div>

    <div class="card-tab">
      <p-table [value]="plansWithPatients" styleClass="p-datatable-striped rounded-table"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="background-color: #083b32; color: #fff; border-top-left-radius: 10px;">Patient</th>
            <th style="background-color: #083b32; color: #fff;">Date</th>
            <th style="background-color: #083b32; color: #fff; border-top-right-radius: 10px">Instructions Nutritionnelles</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-planNutri>
          <tr>
            <td>{{planNutri.patient.name[0].family}} {{planNutri.patient.name[0].given}}</td>
            <td>{{ planNutri.plan.dateTime | date:"dd/MM/yyyy"}}</td>
            <td>{{ planNutri.plan.oralDiet.instruction }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
       
  </div>
  