.libelle-fiche-patient{
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0.8em;
}

.infos-patient {
    padding: 2%;
    background-color: #bbd89e;
    border-radius: 10px;
    width: 130vh;
    height: 90%;
    display: flex;

    font-size: medium;
}

.colonne-gauche-infos{
    width: 50%;
}

.colonne-droite-infos {
    width: 50%;
}

.patient-div{
    display: flex;
}

.champ-patient{
    width: 40%;
    font-weight: bold;
}

.champ-patient-droite{
    width: 20%;
    font-weight: bold;
}