<div *ngIf="patient">
    <div class="libelle-fiche-patient">FICHE PATIENT</div>

    <div class="infos-patient">

        <div class="colonne-gauche-infos">
            <div class="patient-div">
                <div class="champ-patient">Nom : </div>
                <div class="patient-attribut">{{ patient.name[0].family }}</div>
            </div>
            <div class="patient-div">
                <div class="champ-patient">Prénom : </div>
                <div class="patient-attribut">{{ patient.name[0].given[0] }}</div>
            </div>
            <div class="patient-div">
                <div class="champ-patient">Date de naissance : </div>
                <div class="patient-attribut">{{ patient.birthDate }}</div>
            </div>
            <div class="patient-div">
                <div class="champ-patient">Sexe : </div>
                <div class="patient-attribut">{{ patient.gender }}</div>
            </div>
            
        </div>
        <div class="colonne-droite-infos">
            <div class="patient-div">
                <div class="champ-patient-droite">Taille : </div>
                <div class="patient-attribut">{{taille}}</div>
            </div>
            <div class="patient-div">
                <div class="champ-patient-droite">Poids : </div>
                <div class="patient-attribut">{{poids}}</div>
            </div>
            <div class="patient-div">
                <div class="champ-patient-droite">IMC : </div>
                <div class="patient-attribut">{{imc}}</div>
            </div>
        </div>
        
    </div>
    
</div>
