.scrollable-list {
    background-color: #f3f3f3;
    max-height: 90vh;
    /* Hauteur maximale souhaitée */
    overflow-y: auto;
    /* Activer la barre de défilement verticale lorsque nécessaire */
}

.recherche-patient{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    margin-right: 10px
}